
:root {
    --coolgreen:#17b06b;
    --mustard:rgb(255,219,88);
}

:root:before {
    content:    url('img/*');
    visibility: hidden;
    position: absolute;
    left: -999em;
}


body {
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: "Liberation Mono"; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family: 'PixelOperatorRegular'; */
    /* font-family: 'IndustrialRegular'; */
    /* font-family: 'Courier New'; */
    /* font-weight: normal; */
    /* font-style: normal; */
    /* background-color: black; */
    margin: 15% 0 5% 0;
}

#landing {
    position: fixed;
    z-index:-99;
    width:100%;
    height:100%;
}

#landingvid {
    height:100%;
    width:100%;
    pointer-events: none;
}

.sectionheader {
    text-align: center;
    color: var(--coolgreen);
    font-size: 2rem;
    margin-top: 10%;
}

a:hover {
    color: var(--coolgreen);
    /* background-color: palegreen; */
    /* color: orchid; */
    text-decoration: none;
}

#about-grid {
    display: grid;
    width: 100%;
    gap: .5rem;
    grid-template-columns: 3fr 9fr;
    grid-template-areas:    'one one'
                            'two three'
                            'four four'
                            ;
}

@media (max-width: 576px) {
    #about-grid {
        grid-template-columns: 1fr;
        grid-template-areas:    'one'
                                'three'
                                'two'
                                'four'
                                ;
    }
}

.item1 { grid-area: one; }
.item2 { grid-area: two; }
.item3 { grid-area: three; }
.item4 { grid-area: four; }

.about-item {
    display: flex;
    padding: .25rem 0rem .25rem .25rem;
    background-color: tan;
    border: 1pt solid black;
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
}

.placeholder {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--mustard);
    color: purple;
}

#project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: inherit;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.project-item {
    background-color: inherit;
    /* mix-blend-mode: difference; */
    color: black;
    /* color: white; */
    text-decoration: none;
    /* border: 1pt solid black; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* text-shadow:    -1pt -1pt 0 #000,
				    1pt -1pt 0 #000,
				    -1pt 1pt 0 #000,
				    1pt 1pt 0 #000; */
    /* margin: 1%; */
    padding: 2%;
}

footer {
    color: white;
    background-color: black;
    font-size: 60%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}